
spring:
  redis:
    database: 1
    host: 127.0.0.1
    port: 6379
    password:
    jedis:
      pool:
        max-active: 20
        max-wait: -1ms
        max-idle: 10
        min-idle: 0
    timeout: 5000ms
#    lettuce:
#      shutdown-timeout: 100ms
server:
  port: 8081

clientRequest:
  clientIdMapKey: clientId

RedisTimer:
  ##清除客户端心跳记录时间，单位：d(天)
  deleteTime: 0
  ##客户端心跳间隔时间更改状态，单位：s
  stateTime: 60



